 body {
     display: flex;
     justify-content: center;
    padding: 20px;
 }

 .form-container {
     padding: 20px;
     width: 600px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     background-color: rgb(254, 254, 250);
 }
 h2{
    margin-top: 0px;
    margin-bottom: 35px;
 }
 .form-group{
    margin-bottom: 15px;
    font-weight: ;
 }
input[type="submit"],
input[type="reset"]{
padding: 3px 7px;
margin-top: 5px;
border: 2px solid #cac9c9;
cursor: pointer;
font-weight:500;
}